body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.contact-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.contact-item i {
    font-size: 24px;
    color: #007BFF;
    margin-right: 10px;
}

.contact-item p {
    margin: 0;
    font-size: 16px;
    color: #555;
}

h2:hover{
color: aqua;
}

@media (min-width: 600px) {
    .contact-details {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-item {
        width: 30%;
        text-align: center;
    }
}

